<div id="card_container" class="w3-card w3-padding-large card_borders">

    <div class="w3-container">
        
        <button class="w3-btn w3-hover-white w3-right" onClick="displayNewCard()">
            <b>
                <i class="fa fa-plus-square-o fa-fw" aria-hidden="true"></i> Add New Card
            </b>
        </button>
    </div>

    <div class="card-header w3-center w3-container">
        <label class="input-area-padded padding-small">
            <input type="text" id="card_title" name="title" 
                class="w3-input" style="font-weight:bolder"
                onchange="handleInputChange('card_title')"/>
        </label>
    </div>

    <div class="w3-container">

        <div class="w3-container">
            <button class="w3-btn w3-hover-white w3-right" onClick="displayRawCardDescription()">
                <b>
                    <i class="w3-right fa fa-pencil fa-fw" aria-hidden="true"></i>
                </b>
            </button>
        </div>

        <div class="w3-container" id="card_description" 
            onkeydown="insertTabsIfNecessary(); handleInputChange('card_description')">
        </div>

        <br />

        <div>
            <strong>Tags</strong>
            <textarea id="card_tags" name="tags" class="w3-input"
                onchange="handleInputChange('card_tags')"></textarea>
        </div>

        <br />

        <div>
            <div class="w3-threequarter w3-left">
                <label class="input-area">
                    <strong>Urgency</strong>
                    <input id="card_urgency" type="range" name="urgency" 
                        class="w3-input" min="0" max="10" step="0.1" 
                        onChange="handleInputChange('card_urgency'); updateUrgencyCounter();"
                    />
                </label>
            </div>
            
            <div class="w3-quarter w3-right">
                <p id="card_urgency_number"><strong></strong></p>
            </div>

        </div>
    </div>

    <div class="w3-bar w3-padding-16">
        <button class="w3-left w3-third w3-btn w3-round-xxlarge" 
            onClick="fetchPreviousCard()">
            <b>
                <i class="fa fa-chevron-left"></i> Previous</b>
        </button>

        <div class="w3-center w3-third">
            <div class="popup">
                <span class="popuptext w3-center w3-padding-small" 
                 id="out_of_cards_popup"></span>
            </div>
        </div>

        <button class="w3-right w3-btn w3-third w3-round-xxlarge" onClick="fetchNextCard()">
            <b>
                <i class="fa fa-chevron-right"></i> Next</b>
        </button>

    </div>

    <div class="w3-container w3-center w3-bar w3-padding-16">

        <button class="w3-btn w3-round-xxlarge w3-left w3-red" onClick="moveCardToTrash()">
            <b>
                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete Card
            </b>
        </button>

        <button class="w3-btn w3-round-xxlarge w3-right w3-green" onClick="saveCard()">
            <b><i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save Card</b>
        </button>

    </div>

</div>