<script type="text/javascript" src="/dist/AppUtilities.bundle.min.js"></script>

<div>

    <ul class="topnav" id="topnavitems">
        <li class="left">
            <a href="/" class="link_button"><strong><%= APP_NAME %></strong></a>
        </li>

        <li class="left">
            <a href="/home" class="link_button">Home</a>
        </li>

        <li class="left">
            <a href="/browse" class="link_button">Browse/Search</a>
        </li>

        <li class="left">
            <a href="/wiki" class="link_button">Wiki</a>
        </li>

        <li class="right">
            <button id="logout_button" class="link_button" onClick="logOut();">
                Log Out
            </button>
        </li>

        <li class="right hidden">
            <a id="account_button" href="/account" class="link_button">
                Your Account
            </a>
        </li>

    </ul>

</div>

<script type="text/javascript">
    /**
     * @description Log out the currently logged in user.
     */
    function logOut() {
        AppUtilities.sendHTTPRequest("POST", "/logout", {})
            .then((response) => {
                localStorage.clear();
                window.location = "/";
            })
            .catch((err) => { console.error(err); });
    }

</script>