<div>

    <ul class="topnav" id="topnavitems">
        <li class="left">
            <a href="/" class="link_button"><strong>Study Buddy</strong></a>
        </li>

        <li class="right">
            <button id="logout_button" class="link_button hidden" onClick="logOut();">
                Log Out
            </button>
        </li>

        <li class="right hidden">
            <a id="account_button" href="/account" class="link_button hidden">
                Your Account
            </a>
        </li>

    </ul>

</div>
