<div>

    <ul class="topnav" id="topnavitems">
        <li class="left">
            <a href="/" class="link_button"><strong><%= appName %></strong></a>
        </li>

        <li class="left">
            <a href="/home" class="link_button">Home</a>
        </li>

        <li class="left">
            <a href="/browse" class="link_button">Browse/Search</a>
        </li>

    </ul>

</div>
