<style>
    input#card_search_input {
        border: none;
        border-bottom: 0.2px solid black;
        width: 100%;
        min-height: 40px;
        padding: 1%;
        margin-right: 10%;
    }
    
    div#card_search_results {
        text-overflow: ellipsis;
        width: 49%;
        position: absolute;
        background: white;
        z-index: 10;
    }

    div#card_search_results ul {
        padding: 2%;
        margin: 0;
    }
    
    div#card_search_results ul > li {
        border-bottom: 1px solid lightgray;
        padding: 4px;
        list-style-type: none;
    }
    
    div#card_search_results ul > li:hover {
        color: white;
        background: black;
        cursor: pointer;
    }

    .gray-text {
        color: gray;
    }

</style>

<!--
    The search bar. Queries the server for matching cards then displays the top 
    results in a dropdown list.
-->

<div class="dropdown">
    <input type="text" id="card_search_input"
        placeholder="Search card descriptions and titles. Press [Enter] to view all results"
        onkeydown="searchCards(event)" class="dropbtn" onblur="window.setTimeout(clearSearchResults, 300);" />
    <div class="dropdown-content" id="card_search_results"></div>
</div>

<script>
    
    const CARD_SEARCH_INPUT_ELEMENT = document.getElementById("card_search_input");
    const CARD_SEARCH_RESULTS_ELEMENT = document.getElementById("card_search_results");

    /**
     * @description Provide search results for queries typed in the search bar. 
     * If the user pressed the space bar, ask the server for the top 7 results. 
     * If the user pressed 'Enter', ask the server for all results.
     */
    function searchCards(event) {
        let keyPress = event.key;
        // Only query the server if the user has entered a complete word or is 
        // done typing.
        if (keyPress === " " || keyPress === "Enter") {
            let queryString = CARD_SEARCH_INPUT_ELEMENT.value.trim();
            if (keyPress === " ") {
                limit = 7;
            } else {
                limit = Infinity;
            }
            if (queryString !== "") {
                let searchEndpointURL = "<%= SEARCH_ENDPOINT_URL %>";
                AppUtilities
                    .sendHTTPRequest(
                        "POST", searchEndpointURL,
                        { queryString: queryString, limit: limit }
                    )
                    .then((response) => {
                        response = JSON.parse(response);
                        if (response.success) {
                            let search_results = response.message;
                            if (keyPress === " ") {
                                let search_results_html = "<ul>";
                                for (let i = 0; i < search_results.length; i++) {
                                    search_results_html += `
                                    <li onclick='reInitializeCards([${JSON.stringify(search_results[i])}]);'>
                                    ${search_results[i].title}</li>`;
                                }
                                if (search_results.length == 0) {
                                    search_results_html += `<li class='gray-text'><em>No cards found<em></li></ul>`;
                                } else {
                                    search_results_html += `<li class='gray-text'><em>Press [Enter] to view all matches<em></li></ul>`;
                                }
                                CARD_SEARCH_RESULTS_ELEMENT.innerHTML = search_results_html;
                            } else {
                                CARD_SEARCH_RESULTS_ELEMENT.innerHTML = "";
                                if (searchEndpointURL == "/search-cards") {
                                    reInitializeCards(search_results);
                                } else if (searchEndpointURL == "/browse") {
                                    displayAllSearchResults(search_results);
                                }
                            }
                        }
                    })
                    .catch((err) => { console.error(err); });
            }
        }
    }

    /**
     * @description Clear the search results dropdown.
     */
    function clearSearchResults() {
        CARD_SEARCH_RESULTS_ELEMENT.innerHTML = "";
    }

</script>