<style>
    #side_bar {
        overflow: scroll;
        min-height: 100vh;
        display: inline-block;
    }
    
    #side_bar_contents {
        overflow: scroll;
        height: 90vh;
    }

</style>

<div class="w3-container w3-left w3-quarter w3-padding">

    <div>
        <button class="w3-button w3-blue w3-round-xxlarge w3-left" onclick="filterCards()">
            <b><i class="fa fa-refresh fa-fw" aria-hidden="true"></i> Filter By Tags</b>
        </button>
    
        <button class="w3-button w3-blue w3-round-xxlarge w3-right" onclick="TagsBarUtilities.resetTagSelection()">
            <b>Clear Selection</b>
        </button>
    </div>
    
    <div id="side_bar">
        <div id="side_bar_contents"></div> 
    </div>
</div>