<div class="w3-container w3-left w3-quarter w3-padding">

    <button class="w3-button w3-blue w3-round-xxlarge" onclick="filterCards()">
        <b><i class="fa fa-refresh fa-fw" aria-hidden="true"></i> Filter By Tags</b>
    </button>

    <div id="side_bar">
        <div id="side_bar_contents"></div> 
    </div>
</div>