<div id="card_container" class="w3-card w3-padding-large card_borders">
    
    <div class="w3-container">
        <button class="w3-btn w3-hover-white w3-right" onClick="closeTrashWindow();">
            <b>
                <i class="fa fa-times fa-fw" aria-hidden="true"></i> Close 
            </b>
        </button>
    </div>

    <div class="card-header w3-center w3-container">
        <p id="card_title"></p>
    </div>

    <div class="w3-container">

        <div class="w3-container" id="card_description"></div>

        <br />

        <div>
            <strong>Tags</strong>
            <br>
            <div id="card_tags"></div>
        </div>

        <br />

        <div>
            <strong>Urgency</strong>
            <br>
            <div id="card_urgency_number"></div>
        </div>

    </div>

    <div class="w3-bar w3-padding-16">
        <button class="w3-left w3-third w3-btn w3-round-xxlarge" onClick="fetchPreviousCard()">
            <b>
                <i class="fa fa-chevron-left"></i> Previous</b>
        </button>
    
        <div class="w3-center w3-third">
            <div class="popup">
                <span class="popuptext w3-center w3-padding-small" id="out_of_cards_popup"></span>
            </div>
        </div>
    
        <button class="w3-right w3-btn w3-third w3-round-xxlarge" onClick="fetchNextCard()">
            <b>
                <i class="fa fa-chevron-right"></i> Next</b>
        </button>
    
    </div>

    <div class="w3-container w3-center w3-bar w3-padding-16">

        <button class="w3-btn w3-round-xxlarge w3-left w3-red" id="card_delete_button" onClick="deleteCardFromTrash();">
            <b>
                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete Permanently
            </b>
        </button>

        <button class="w3-btn w3-round-xxlarge w3-right w3-green" id="card_restore_button" onClick="restoreFromTrash();">
            <b>
                <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Restore Card</b>
        </button>

    </div>

</div>