<!DOCTYPE html>
<html>
    <head>
        <title><%= APP_NAME %>: Home</title>
        <%- include('../partials/header.ejs'); %>
    </head>
    <body>
        <div id="App"></div>
        <script type="text/javascript" src="/src/App.bundle.min.js"></script>
    </body>
</html>
