<!DOCTYPE html>
<html>

    <head>
        <title><%= APP_NAME %>: Reset Password</title>
        <%- include('../partials/header.ejs'); %>
    </head>

    <body onload="AppUtilities.processParams();">

        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div">

            <div class="w3-padding-large w3-center" style="margin: 5% 25% 25% 25%" id="form_password_request" method="POST">

                <label for="email"> Type the email address associated with your account: </label>
                <input class="w3-input" type="email" name="email" id="email_address" required/>

                <br />
                <br />

                <button class="w3-button w3-center w3-green" id="reset_password_req_submit" type="submit" onclick="return passwordResetRequest();">
                    Request Password Reset
                </button>

            </div>

        </div>


        <%- include('../partials/footer.ejs'); %>

        <script type="text/javascript">

            let state = {
                addressElement: document.getElementById("email_address")
            };

            /**
             * @description Request a password reset.
             */
            function passwordResetRequest() {

                if (!state.addressElement.checkValidity()) {
                    state.addressElement.reportValidity();
                    return;
                }

                AppUtilities
                    .sendHTTPRequest(
                        "POST", "/reset-password",
                        {email: state.addressElement.value}
                    )
                    .then((results) => {
                        results = JSON.parse(results);
                        if (results.success) {
                            document.getElementById("form_password_request").innerHTML = `
                                <p>Please check your email for a password reset link.</p>

                                <br />
                                <br />

                                <button class="w3-button w3-center w3-blue"
                                    id="go_back_to_login_button" onclick="window.location='/login'">
                                    ... go back to LogIn</button>`;
                        } else {
                            alert(results.message);
                            console.error(results.message);
                        }
                    })
                    .catch((err) => { console.error(err); });
                return false;
            }
        </script>

    </body>

</html>
