<!DOCTYPE html>
<html>

    <head>
        <title><%= APP_NAME %>: Reset Password</title>
        <%- include('../partials/header.ejs'); %>
    </head>

    <body onload="AppUtilities.processParams();">

        <%- include('../partials/navbar.ejs'); %>

            <div id="main_div">

                <div class="w3-padding-large w3-center" style="margin: 5% 25% 25% 25%">

                    <label for="email"> Type your new password: </label>
                    <input class="w3-input" type="password" name="password_1" id="password_1" minlength="8" required/>

                    <br />
                    <br />

                    <label for="username"> Re-type your new password: </label>
                    <input class="w3-input" type="password" name="password_2" id="password_2" minlength="8" required/>

                    <br />
                    <br />

                    <button class="w3-button w3-center w3-green" id="reset_password_submit" type="submit"
                    onclick="return resetPassword();">Reset Password</button>

                </div>

            </div>


            <%- include('../partials/footer.ejs'); %>

            <script type="text/javascript" src="src/PasswordResetPage.bundle.min.js"></script>

    </body>

</html>
