<!DOCTYPE html>
<html>
    <head>
        <title><%= APP_NAME %>: Login</title>
        <%- include('../partials/header.ejs'); %>
        <script src="/src/AppUtilities.bundle.min.js"></script>
    </head>

    <style>
        #welcome_page_content {
            background-color: white;
            border-radius: 2%;
        }
    </style>

    <body onload="AppUtilities.processParams();">

        <%- include('../partials/navbar.ejs'); %>

        <div id="main_div" class="w3-display-container">

            <div id="welcome_page_content" class="w3-container w3-display-middle w3-third w3-center w3-padding-large">

                <form class="w3-padding-large tab_content" id="login_form" method="post">

                    <label for="username"> Username or Email Address: </label>
                    <input class="w3-input" type="text" name="username_or_email" required/>

                    <br />
                    <br />

                    <label for="password"> Password: </label>
                    <input class="w3-input" type="password" name="password"
                        id="login_password" minlength="8" required/>

                    <br />
                    <br />

                    <button class="w3-button w3-center w3-green" type="submit"
                        id="login_submit" onclick="return logInUser('login_form', '/login')">Log In</button>

                    <br />
                    <br />

                    <button class="w3-button w3-center w3-blue"
                        id="display_signup_form" onclick="return displayForm('signup_form')">
                        ... or Sign Up for a New Account</button>

                    <p class="link" id="forgot_password_link" onclick="window.location = '/reset-password';" style="text-decoration: underline">
                        Forgot password?
                    </p>

                </form>

                <form class="w3-padding-large hidden tab_content" id="signup_form" method="post">

                    <label for="email">Email Address: </label>
                    <input class="w3-input" type="email" name="email"
                        required/>

                    <br />
                    <br />

                    <label for="username"> Choose an alphanumeric username: </label>
                    <input class="w3-input" type="text" name="username"
                        pattern="[_\-A-Za-z0-9]+" required/>

                    <br />
                    <br />

                    <label for="password"> Choose a password: </label>
                    <input class="w3-input" type="password" name="password"
                        id="signup_password" minlength="8" required/>

                    <br />
                    <br />

                    <button class="w3-button w3-center w3-green" type="submit"
                        id="signup_submit" onclick="return signUpUser('signup_form', '/register-user')">Sign Up</button>

                    <br />
                    <br />

                    <button class="w3-button w3-center w3-blue"
                        id="display_login_form" onclick="return displayForm('login_form')">
                        ... or go back to LogIn</button>
                </form>

                <p>...or head over to <a href="/browse/">browse/search</a> to view existing cards.</p>

            </div>

        </div>


        <%- include('../partials/footer.ejs'); %>

        <script type="text/javascript" src="src/public/src/WelcomePage.bundle.min.js"></script>

    </body>

</html>
