html {
    zoom: 0.9; /* Find a workaround for Firefox... Setting the viewport doesn't work */
}

.link_button {
    text-decoration: none;
    color: black;
    border-bottom: thin black solid;
}

.link_button:hover {
    cursor: pointer;
    background-color: inherit !important;
    border-bottom: #2196F3 thick solid;
}

ul.link, .link {
    background:none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

ul.link.chosen {
    background: black;
    color: white;
    text-decoration: none;
}

ul.link:hover {
    text-decoration: underline;
}

/************************ General rules ***************************************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 5em;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(245, 245, 245);
}

div#app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 25px;
}

.underline_bold_text {
    text-decoration: underline !important;
    font-weight: bold !important;
}

.clickable {
    cursor: pointer;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 350px;
    height: 35px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 0;
    position: absolute;
    z-index: 10 !important;
    bottom: -35px;
    left: 50%;
    margin-left: -175px;
}

/************************ Footer **********************************************/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: none;
}

/************************ In-app Sidebar **************************************/

.hidden {
    display: none;
}

/************************ In-app Card Viewer **********************************/

/* Source: https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio */
img {
    display: block;
    max-width: 90%;
}

img:not([height]) {
    height: auto;
}

img:not([width]) {
    width: auto;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
    border:1px solid #ccc;
    text-align: center;
}

tr {
    border-bottom:1px solid #ddd
}

table tr:nth-child(odd){
    background-color:#fff
}

table tr:nth-child(even){
    background-color: lightblue;
}

table td:first-child{
    padding-left:16px
}

th {
    padding:8px 8px;
    display:table-cell;
    vertical-align:top
}

#status_bar {
    padding: 1%;
}

#card_container {
    background-color: rgb(239, 239, 239);
}

#card_description {
    min-height: 50px;
    border-left: 5px solid grey;
}

div#card_description[contenteditable="true"] {
    background-color: white;
}

.card_tag_button_text, .card_tag_button_remove {
    padding: 1%;
    background-color: #73eaff;
}

.card_tag_button_text {
    margin: 3px 0px 3px 4px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.card_tag_button_remove {
    cursor: pointer;
    margin: 3px 4px 3px 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.card_tag_button_remove:hover {
    background-color: red;
}

.autocomplete_suggestion_button {
    margin: 4px;
    border: thin solid lightseagreen;
    cursor: pointer;
    border-radius: 3px;
}

blockquote {
    font-style: italic;
    background-color: white;
    border-left: 5px solid lightblue;
    border-bottom: 1px solid lightblue;
    padding: 0px 1%;
    border-top: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-radius: 5px;
}

.card_borders {
    border-left: 5px solid #2196F3;
    border-bottom: thin solid #2196F3;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#review_mode_label::after {
    position: relative;
    right: 70px;
    content: "Review Mode"
}

#card_is_public_label::after {
    position: relative;
    right: 70px;
    content: "Make Public"
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: smaller;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

#review_mode_tooltip {
    width: 300px;
    top: -5px;
    right: 105%;
}

#tagging_system_tooltip {
    width: 120%;
    top: -50px;
    left: 0%;
}

#formatting_help_tooltip {
    width: 120%;
    top: -50px;
    right: 0%;
}

#card_is_public_tooltip {
    width: 200%;
    top: -30px;
    right: 100%;
}

#urgency_bar_help_tooltip {
    width: 120%;
    top: -50px;
    right: 0%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#spoiler_box {
    background: rgb(172, 172, 172);
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

#spoiler_box:hover {
    opacity: 0;
}

#spoiler_box p {
    font-size: larger;
    text-align: center;
    color: white;
    padding: 10% 0 0 0;
}

.quartile_bar {
    height: 12px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.quartile_bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.quartile_bar ul li {
    height: 10px;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: start;
}

div.minicard_search_result {
    width: 30%;
    word-break: normal;
    cursor: pointer;
}

#minicards_search_results {
    overflow: scroll;
    height: 100vh;
    padding-bottom: 2% !important;
}

.w3-modal-content {
    width: 80% !important;
}
