<div>
    <template shadowrootmode="closed">
        <style>
            :host {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: larger;
              background-color: var(--main-bg-color);
            }
        </style>
    </template>
</div>
