<script type="text/javascript" src="/src/NavBar.ejs.bundle.min.js"></script>

<div>

    <ul class="topnav" id="topnavitems">
        <li class="left">
            <a href="/" class="link_button"><strong><%= APP_NAME %></strong></a>
        </li>

        <li class="left">
            <a href="/home" class="link_button">Home</a>
        </li>

        <li class="left">
            <a href="/browse" class="link_button">Browse/Search</a>
        </li>

        <li class="left">
            <a href="/wiki" class="link_button">Wiki</a>
        </li>

        <% if (LOGGED_IN) { %>

            <li class="right">
                <a href="#" class="link_button" onClick="logOut();">Log Out</a>
            </li>

            <li class="right">
                <a id="account_button" href="/account" class="link_button">
                    Your Account
                </a>
            </li>

        <% } %>

    </ul>

</div>
