<script type="text/javascript" src="/src/NavBar.ejs.bundle.min.js"></script>

<div class="topnav">
    <ul id="topnavitems">
        <span role="presentation">
            <li>
                <a href="/" class="link_button"><strong>
                        <%= APP_NAME %>
                    </strong></a>
            </li>
            <li>
                <a href="/home" class="link_button">Home</a>
            </li>

            <li>
                <a href="/browse" class="link_button">Browse/Search</a>
            </li>

            <li>
                <a href="/wiki" class="link_button">Wiki</a>
            </li>
        </span>

        <% if (LOGGED_IN) { %>
        <span role="presentation">

            <li class="right">
                <a href="#" class="link_button" onClick="logOut();">Log Out</a>
            </li>

            <li class="right">
                <a id="account_button" href="/account" class="link_button">
                    Your Account
                </a>
            </li>
        </span>

        <% } %>

    </ul>

</div>
