<style>
    input#card_search_input {
        border: none;
        border-bottom: 0.2px solid black;
        width: 100%;
        min-height: 40px;
        padding: 1%;
        margin-right: 10%;
    }

    div#card_search_results {
        text-overflow: ellipsis;
        width: 49%;
        position: absolute;
        background: white;
        z-index: 10;
    }

    div#card_search_results ul {
        padding: 2%;
        margin: 0;
    }

    div#card_search_results ul > li {
        border-bottom: 1px solid lightgray;
        padding: 4px;
        list-style-type: none;
    }

    div#card_search_results ul > li:hover {
        color: white;
        background: black;
        cursor: pointer;
    }

    .gray-text {
        color: gray;
    }

</style>

<!--
    The search bar. Queries the server for matching cards then displays the top
    results in a dropdown list.
-->

<div class="dropdown">
    <input type="text" id="card_search_input"
        placeholder="Search card descriptions and titles. Press [Enter] to view all results"
        onkeydown="searchCards(event)" class="dropbtn" onblur="window.setTimeout(clearSearchResults, 300);" />
    <div class="dropdown-content" id="card_search_results"></div>
</div>
<script type="text/javascript" src="src/SearchBarDropDown.bundle.min.js"></script>
