<form method="post">
    <label for="email"> Type your new password: </label>
    <input class="w3-input" type="password" name="password_1" minlength="8" required/>

    <label for="username"> Re-type your new password: </label>
    <input class="w3-input" type="password" name="password_2" minlength="8" required/>

    <button class="w3-button w3-center w3-green" type="submit">Reset Password</button>
</form>
