<form method="post">

    <h5>Request a validation URL for your <%= APP_NAME %> Account</h5>

    <label for="email"> Type your email address below: </label>
    <input class="w3-input" type="email" name="email" required/>

    <button class="w3-button w3-center w3-green" type="submit">Send Validation URL</button>

</form>
