<!DOCTYPE html>
<html>

    <head>
        <title>Study Buddy 404 Page</title>
        <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/navbar.ejs %>

            <div id="main_div">

                <p class="w3-content">404 Error: Page Not Found</p>

            </div>


            <footer class="w3-container w3-container w3-black">
                <% include ../partials/footer.ejs %>
            </footer>

    </body>

</html>