<!DOCTYPE html>
<html>

    <head>
        <title>Study Buddy Internal Server Error</title>
        <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/navbar.ejs %>

            <div id="main_div">

                <div style="margin: 5% 25% 5% 25%">
                    
                    <h4>Internal Server Error</h4>

                    <br />
                    
                    <p>It's not you, it's me.</p>

                </div>

            </div>


            <footer class="w3-container w3-container w3-black">
                <% include ../partials/footer.ejs %>
            </footer>

    </body>

</html>