<!DOCTYPE html>
<html>

    <head>
        <title>Study Buddy Readme</title>
        <link rel="stylesheet" href="/stylesheets/themes/atom-one-light.css">
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script src="/static/highlight.pack.js"></script>

        <% include ../partials/header.ejs %>

        <style>

            #study_buddy_details {
                margin: 1% 15% 1% 15%;
                padding: 1% 5% 1% 5%;
            }

            .details_header {
                border-bottom: 1px #e1e4e8 solid;
            }

            .details_section {
                margin: 2% 0%;
                padding: 3% 0%;
            }

            #card_container {
                display: none;
            }

        </style>

    </head>

    <body>

        <% include ../partials/navbar.ejs %>

        <div id="main_div">

            <div id="study_buddy_details">

                <div class="details_section">

                    <h3 class="details_header">Account Info</h3>

                    <p></p>

                </div>

            </div>

        </div>


        <% include ../partials/footer.ejs %>

    </body>

</html>