<!DOCTYPE html>
<html>

    <head>
        <title>Study Buddy Account Page</title>
        <% include ../partials/header.ejs %>
        <script src="/static/AppUtilities.js"></script>

        <style>

            #account_details {
                margin: 1% 15% 1% 15%;
                padding: 1% 5% 1% 5%;
            }

            .account_header {
                border-bottom: 1px #e1e4e8 solid;
            }

            .account_section {
                margin: 2% 0%;
                padding: 3% 0%;
            }

        </style>

    </head>

    <body onload="includeInAppButtons();">

        <% include ../partials/navbar.ejs %>

        <div id="main_div">

            <div id="account_details">

                <div class="account_section">

                    <h3 class="account_header">Account Info</h3>

                    <p>
                        Username: <%= account_info.username %>
                        <br><br>
                        Email Address: <%= account_info.email %>
                        <br><br>
                        Study Buddy Birthday: <%= account_info.user_reg_date %>
                    </p>

                </div>

                <div class="account_section">

                    <h3 class="account_header">Send an email to Study Buddy's Developer</h3>

                    <p>
                        Chege would love to hear your suggestions, feedback and criticism.
                        <br><br>
                        <a href="mailto:c13u.studybuddy@gmail.com">
                            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> c13u.studybuddy@gmail.com
                        </a>
                    </p>

                </div>

                <div class="account_section">

                    <h3 class="account_header">Download your cards</h3>

                    <p>
                        Download all of the cards you own.
                        <br>
                        <br>
                        <button class="w3-btn w3-round-xxlarge w3-left w3-green" onClick="downloadUserData();">
                            <b>
                                <i class="fa fa-download fa-fw" aria-hidden="true"></i> Download My Cards
                            </b>
                        </button>

                    </p>
                
                </div>

                <div class="account_section">

                    <h3 class="account_header">Delete account</h3>

                    <p>
                        Careful now. Once you delete your account, there is no going back. 
                        Please be sure. You might want to download your data first.
                        <br>
                        <br>
                        <button class="w3-btn w3-round-xxlarge w3-left w3-red" onClick="confirmDeletion();">
                            <b>
                                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete Account
                            </b>
                        </button>
                    
                    </p>
                    
                </div>

            </div>

        </div>


        <% include ../partials/footer.ejs %>

    </body>

    <script type="text/javascript">
        var metadata = JSON.parse(localStorage.getItem("metadata"));

        function includeInAppButtons() {
            document.getElementById("logout_button").style.display = "inline";
            document.getElementById("account_button").style.display = "inline";
        }

        function downloadUserData() {
            window.open("/account/download-user-data");
        }

        function confirmDeletion() {
            if (window.confirm("Deleting your account is irreversible. Continue?")) {
                window.alert("Psyche!");
            }
        }

    </script>

</html>