<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <title><%= appName %>: Browse/Search</title>
        <script src="/static/AppUtilities.js"></script>
        <link rel="stylesheet" href="/stylesheets/themes/atom-one-light.css">
        <script type="text/javascript" src="/static/CardsManager.js"></script>
        <script type="text/javascript" src="/static/MaxPriorityQueue.js"></script>
        <script type="text/javascript" src="/dist/CardTemplateController.bundle.min.js"></script>

        <style>
            .flexbox {
                display: flex;
                flex-flow: row wrap;
                align-items: stretch;
            }

            div#card_container_holder {
                z-index: 3; /* On top of everything else */
                position: absolute;
                display: block;
                min-width: 80%;
                margin-left: 10%;
                margin-right: 10%;
                top: 30%;
                visibility: hidden;
            }

            div.search-result {
                cursor: pointer;
            }

            div#temp_container {
                border: none;
            }

        </style>
    </head>

    <body>
        <% include ../partials/navbar.ejs %>

        <div id="main_div">
            <div class="w3-container" id="search_div">

                <form method="GET">
                    <div class="dropdown w3-threequarter">
                        <input type="text" id="search_input" placeholder="Search for cards, e.g. dynamic programming" 
                            onkeyup="handleSearchInputChange(event);" class="w3-input dropbtn" name="query_string" />
                        <div class="dropdown-content" id="search_autocomplete_results"></div>
                    </div>
                    <input type="submit" class="w3-quarter w3-btn w3-blue" value="Search for Cards"></button>

                </form>

            </div>

            <div class="w3-container" id="temp_container">

                <div class="w3-container">

                    <% include ../partials/sidebar_template.ejs %>

                    <div class="w3-container w3-threequarter w3-right flexbox" id="search_results">
                        <% if (abbreviatedCards.length === 0) { %>
                            <div class="w3-container">
                                <p>No cards found.</p>
                            </div>
                        <% } else { %>
                            <% for (let i = 0; i < abbreviatedCards.length; i++) { %>
                                <div class="w3-card-4 w3-padding-small w3-margin search-result" onclick="displayFullCard('<%= abbreviatedCards[i]._id %>')">
                                    <header class="w3-container w3-blue"><h4><%= abbreviatedCards[i].title %></h4></header>
                                    <div class="w3-container"><p><strong>Tags: </strong><%= abbreviatedCards[i].tags %></p></div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>

                <div id="card_container_holder">
                    <% include ../partials/search_result_card_template.ejs %>
                </div>

            </div>

        </div>

    </body>

    <script type="text/javascript">

        let browsePageState = {
            cardsManager: null,
            cardTemplateController: null
        }
        
        let searchInputElement = document.getElementById("search_input");
        let cardContainerHolder = document.getElementById("card_container_holder");
    
        function handleSearchInputChange() {
            state.queryString = searchInputElement.value;
        }

        function displayFullCard(card_id) {
            cardContainerHolder.style.visibility = "visible";
            browsePageState.cardsManager = cards_manager(null, 1);
        }

        function closeFullCardWindow() {
            cardContainerHolder.style.visibility = "hidden";
        }

    </script>

</html>