<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <title>Study Buddy: Browse Cards</title>
        <script src="/static/AppUtilities.js"></script>
        <link rel="stylesheet" href="/stylesheets/themes/atom-one-light.css">
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script src="/static/highlight.pack.js"></script>
    </head>

    <body>
        <% include ../partials/navbar.ejs %>

        <div id="main_div">
            <div class="w3-container" id="search_div">

                <form method="GET">
                    <div class="dropdown w3-threequarter">
                        <input type="text" id="search_input" placeholder="Search for cards, e.g. dynamic programming" 
                            onkeyup="handleSearchInputChange(event);" class="w3-input dropbtn" name="query_string" />
                        <div class="dropdown-content" id="search_autocomplete_results"></div>
                    </div>
                    <input type="submit" class="w3-quarter w3-btn w3-blue" value="Search for Cards"></button>

                </form>

            </div>

            <div id="search_results">
                <% for (let i = 0; i < abbreviatedCards.length; i++) { %>
                    <p><%= abbreviatedCards[i].title %></p>
                <% } %>
            </div>

        </div>

    </body>

    <script type="text/javascript">

        let state = {
            queryString: ""
        }

        let searchInputElement = document.getElementById("search_input");
    
        function handleSearchInputChange() {
            state.queryString = searchInputElement.value;
        }

    </script>

</html>