<!DOCTYPE html>
<html>

    <head>
        <title><%= appName %>: Home</title>
        <% include ../partials/header.ejs %>
        <% include ../partials/syntax_highlighting_and_latex.ejs %>
        <script type="text/javascript" src="/dist/CardsManager.bundle.min.js"></script>
        <script type="text/javascript" src="/dist/CardTemplateUtilities.bundle.min.js"></script>
        <script src="/static/TernarySearchTrie.js"></script>
        <script type="text/javascript">

            /**
             * @description Make LEFT/RIGHT arrow keys show PREVIOUS/NEXT card.
             */ 
            function arrowKeysForNavigation(event) {
                if (event.key === "ArrowLeft") {
                    fetchPreviousCard();
                    event.preventDefault();
                } else if (event.key === "ArrowRight") {
                    fetchNextCard();
                    event.preventDefault();
                }
            }

            window.addEventListener("keydown", arrowKeysForNavigation);

        </script>
        
    </head>

    <body onload="initializeSideBar(); initializeCards();">

        <% include ../partials/logged_in_navbar.ejs %>

        <div id="main_div">

            <div class="w3-container" id="status_bar">

                <div id="card_search_container" class="w3-half">
                    <div class="dropdown">
                        <input type="text" id="card_search_input" placeholder="Search card descriptions and titles..." onkeydown="searchCards(event)"
                            class="dropbtn" />
                        <div class="dropdown-content" id="card_search_results"></div>
                    </div>
                </div>

                <label class="w3-right switch tooltip">
                    <input type="checkbox" id="reviewModeToggle" onchange="toggleOption('reviewModeToggle');">
                    <span class="slider round" id="review_mode_label"></span>
                    <span class="tooltiptext" id="review_mode_tooltip">
                        After the urgency of a card has been modified, automatically 
                        save the current card and load the next card. 
                        <a href="/wiki#review_mode" target="_blank">Read more</a>
                    </span>
                </label>
                
            </div>

            <div>
                <p class="w3-left w3-quarter w3-container tooltip">
                    <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> The Tagging and Urgency System
                    <span class="tooltiptext" id="tagging_system_tooltip">
                        The tags with the most urgent cards appear earlier on the list. 
                        "#probability (7)" means that there are 7 cards that have 'probability' as one of their tags. 
                        <a href="/wiki/#tagging_system" target="_blank">Read more</a>
                    </span>
                </p>
                <p id="filter_list" class="w3-right w3-threequarter w3-container"></p>
            </div>

            <div class="w3-container">

                <div class="w3-container w3-left w3-quarter">
                    <button class="w3-button w3-blue w3-round-xxlarge" onclick="filterCards()">
                        <b><i class="fa fa-refresh fa-fw" aria-hidden="true"></i> Display Cards with Selected Tags </b>
                    </button>
                    <div id="side_bar">
                        <div id="side_bar_contents"></div> 
                    </div>
                </div>
                
                <div class="w3-container w3-right w3-threequarter" id="card_template">
                    <% include ../partials/card_template.ejs %>
                </div>

            </div>
            
        </div>

        <% include ../partials/footer.ejs %>


        <script type="text/javascript">
            
            /* If a user is logged in, there'll be some metadata about them in 
             * Local Storage. 
             */
            const metadata = JSON.parse(localStorage.getItem("metadata"))[0];
            const userSettings = AppUtilities.getAccountInfo();

            // Maintain references to elements that get searched for often
            const elementRefs = {
                alreadySetTagsElement: document.getElementById("already_set_card_tags"),
                cardDescriptionElement: document.getElementById("card_description"),
                cardIsPublicToggleElement: document.getElementById("card_is_public_toggle"),
                cardPopupElement: document.getElementById("card_popup_element"),
                cardSearchInputElement: document.getElementById("card_search_input"),
                cardSearchResultsElement: document.getElementById("card_search_results"),
                cardTagInputElement: document.getElementById("card_tag_input"),
                cardTemplateElement: document.getElementById("card_template"),
                cardTitleElement: document.getElementById("card_title"),
                cardUrgencyElement: document.getElementById("card_urgency"),
                cardUrgencyNumberElement: document.getElementById("card_urgency_number"),
                filterListElement: document.getElementById("filter_list"),
                sideBarContentsElement: document.getElementById("side_bar_contents"),
                spoilerElement: document.getElementById("spoiler"),
                spoilerBoxElement: document.getElementById("spoiler_box"),
                spoilerEndElement: document.getElementById("spoiler_end"),
                tagsAutocompleteResultsElement: document.getElementById("tags_autocomplete_results")
            };
            
            /* Useful for storing the state of the app. Wrapped 
             * inside an object so that I can know when global variables are
             * being used and when they're not.
             */
            var state = {
                changedItems: new Set([]),
                currentCardID: null,
                currentUserID: metadata.createdById,
                rawDescription: null,
                selectedTags: new Set([]),
                tagsAndIDs: metadata.node_information[0],
                currentCardTags: new Set([]),
                currentCardTagsHaveChanged: false,
                cardPostURL: null,
                reviewModeToggle: false,
                card_is_public_toggle: userSettings.cardsAreByDefaultPrivate
            }

            if (!state.tagsAndIDs) state.tagsAndIDs = {};
            
            var tags_trie = ternary_search_trie(Object.keys(state.tagsAndIDs))

            let cardsManager = new CardsManager(state.tagsAndIDs, state.currentUserID);

            function initializeSideBar() {
                var tagsInDecreasingOrder = Object.keys(state.tagsAndIDs);
                tagsInDecreasingOrder.sort(function (tagA, tagB) {
                    var importanceTagA = 0;
                    var importanceTagB = 0;

                    Object.keys(state.tagsAndIDs[tagB]).forEach((cardID) => {
                        importanceTagB += state.tagsAndIDs[tagB][cardID]["urgency"]
                    });

                    Object.keys(state.tagsAndIDs[tagA]).forEach((cardID) => {
                        importanceTagA += state.tagsAndIDs[tagA][cardID]["urgency"]
                    });
                    return importanceTagB - importanceTagA;
                });

                let tagsHTML = "";
                tagsInDecreasingOrder.forEach((tag) => {
                    let tag_prefix = "#";
                    if (tag.charAt(0) == "#") tag_prefix = "";
                    tagsHTML += "<ul id='" + tag +
                        "' class='link' onclick='selectThisTag(`" + tag +
                        "`);'> " + tag_prefix + tag + " (" + Object.keys(state.tagsAndIDs[tag]).length +
                        ")</ul>";
                });
                
                elementRefs.sideBarContentsElement.innerHTML = tagsHTML;
            }

            function initializeCards() {
                cardsManager
                    .initializeFromTags(null)
                    .then(() => { return cardsManager.next(); })
                    .then((card) => { renderCard(card); })
                    .catch((err) => { console.error(err); });
            }

            function fetchPreviousCard() {
                cardsManager.previous()
                    .then((card) => { renderCard(card); })
                    .catch((err) => { console.error(err); });
            }
    
            function fetchNextCard() {
                cardsManager.next()
                    .then((card) => { renderCard(card); })
                    .catch((err) => { console.error(err); });
            }

            function toggleOption(element_id) {
                state[element_id] = document.getElementById(element_id).checked;
            }

            function makeInvisible(element_id) {
                document.getElementById(element_id).style.visibility = "hidden";
            }

            function selectThisTag(tag) {
                if (state.selectedTags.has(tag)) {
                    state.selectedTags.delete(tag);
                } else {
                    state.selectedTags.add(tag);
                }                
                document.getElementById(tag).classList.toggle("chosen");
            }

            function filterCards() {
                
                // I apologize for this embarassing line. :-(
                let tagsToUse;

                // Communicate which cards are being displayed...
                if (state.selectedTags.size == 0) {
                    tagsToUse = null;
                    elementRefs.filterListElement.innerHTML = "Now showing: all";
                } else {
                    tagsToUse = state.selectedTags;
                    let statusMessage = "Now showing: ";
                    statusMessage += Array.from(state.selectedTags).join(", ");
                    elementRefs.filterListElement.innerHTML = statusMessage;
                }

                // Update the cards being displayed
                cardsManager
                    .initializeFromTags(null)
                    .then(() => { return cardsManager.next(); })
                    .then((card) => { 
                        renderCard(card);
                        state.selectedTags.forEach((tag) => {
                            document.getElementById(tag).classList.toggle("chosen");
                        })
                        state.selectedTags.clear();
                    })
                    .catch((err) => { console.error(err); });
            }

            function renderCard(card) {

                if (!card) {
                    CardTemplateUtilities.displayPopUp(
                        "Out of cards!", 1500
                    );
                    return;
                }

                state.currentCardTags.clear();
                state.currentCardTagsHaveChanged = false;
                state.changedItems = new Set([]);

                // Reset card contents
                if (!card.description) card.description = "";
                if (!card.tags) card.tags = "";
                if (!card.title) card.title = "";
                if (!card.urgency) card.urgency = 0;

                window.addEventListener("keydown", arrowKeysForNavigation);
                elementRefs.cardTitleElement.value = card.title;
                
                elementRefs.cardDescriptionElement.innerHTML = PrettifyCards.markdownToHTML(card.description);;

                let tagsHTML = "";
                var tagsArray = card.tags.trim().split(" ");
                for (let i = 0; i < tagsArray.length; i++) {
                    if (tagsArray[i].length > 0) {
                        tagsHTML += `<button id="card_tag_text_${tagsArray[i]}" class="card_tag_button_text">${tagsArray[i]}</button><button id="card_tag_remove_${tagsArray[i]}" class="card_tag_button_remove" onclick="removeTagFromCard('${tagsArray[i]}')"> <i class="fa fa-times fa-fw" aria-hidden="true"></i> </button>`;
                        state.currentCardTags.add(tagsArray[i]);
                    }
                }
                elementRefs.alreadySetTagsElement.innerHTML = tagsHTML;
                elementRefs.cardUrgencyElement.value = card.urgency;
                elementRefs.cardUrgencyNumberElement.innerText = card.urgency;
                elementRefs.cardDescriptionElement.removeAttribute("contenteditable");
                elementRefs.sideBarContentsElement.style.height = elementRefs.cardTemplateElement.style.height;
                
                elementRefs.cardIsPublicToggleElement.checked = card.isPublic;
                state.cardIsPublicToggle = card.isPublic;

                // Reset the contents of the current_card variable
                state.currentCardID = card._id;
                state.cardPostURL = "/update-card";
                state.rawDescription = card.description;

                PrettifyCards.addSyntaxHighlighting();
                PrettifyCards.renderLatex(["card_description"]);

                CardTemplateUtilities.syncSpoilerBox();
            }

            function displayRawCardDescription() {
                elementRefs.cardDescriptionElement.innerText = state.rawDescription;
                elementRefs.cardDescriptionElement.setAttribute("contenteditable", "true");
                window.removeEventListener("keydown", arrowKeysForNavigation);
            }

            function displayNewCard() {
                elementRefs.cardTitleElement.value = "";
                elementRefs.cardDescriptionElement.innerHTML = "";
                elementRefs.alreadySetTagsElement.innerHTML = "";
                elementRefs.cardIsPublicToggleElement.checked = userSettings.cardsAreByDefaultPrivate;

                state.cardIsPublicToggle = userSettings.cardsAreByDefaultPrivate;
                state.currentCardTagsHaveChanged = false;

                elementRefs.cardUrgencyElement.value = 0;
                elementRefs.cardUrgencyNumberElement.innerText = "0";
                elementRefs.cardDescriptionElement.setAttribute("contenteditable", "true");
                elementRefs.sideBarContentsElement.style.height = elementRefs.cardTemplateElement.style.height;
                window.removeEventListener("keydown", arrowKeysForNavigation);

                // Reset the contents of the current_card variable
                state.changedItems.clear();
                state.currentCardTags.clear();
                state.currentCardID = null;
                state.rawDescription = "";
                state.cardPostURL = "/add-card";
            }

            function handleInputChange(element_id) {
                window.removeEventListener("keydown", arrowKeysForNavigation);
                state.changedItems.add(element_id);
            }

            function handleTagsInputChange(event) {
                window.removeEventListener("keydown", arrowKeysForNavigation);
                let tagBeingEntered = elementRefs.cardTagInputElement.value;
                let keyPress = event.key;
                // If whitespace was added, create the new tag if need be.
                if (keyPress === " " || keyPress === "Enter" || keyPress === "Tab") {
                    updateTagsButtons(tagBeingEntered.trim());
                } else {
                    // Provide autocomplete results
                    let autocompleteHTML = ""
                    let matches = tags_trie.keys_with_prefix(tagBeingEntered);
                    let numResultsToShow = 5;
                    if (matches.length < 5) numResultsToShow = matches.length;
                    for (let i = 0; i < matches.length; i++) {
                        autocompleteHTML += `<button class="autocomplete_suggestion_button" onclick="updateTagsButtons('${matches[i]}');">${matches[i]}</button>`;
                    }
                    elementRefs.tagsAutocompleteResultsElement.innerHTML = autocompleteHTML;
                }
                
            }

            function updateTagsButtons(new_tag) {
                if (!state.currentCardTags.has(new_tag)) {
                    state.currentCardTags.add(new_tag);
                    elementRefs.tagsAutocompleteResultsElement.innerHTML = "";
                    elementRefs.alreadySetTagsElement.insertAdjacentHTML(
                        "beforeend",
                        `<button id="card_tag_text_${new_tag}" class="card_tag_button_text">${new_tag}</button><button id="card_tag_remove_${new_tag}" class="card_tag_button_remove" onclick="removeTagFromCard('${new_tag}')"> <i class="fa fa-times fa-fw" aria-hidden="true"></i> </button>`
                    );
                    elementRefs.cardTagInputElement.value = "";
                    state.currentCardTagsHaveChanged = true;
                }
            }

            function removeTagFromCard(tag) {
                document.getElementById(`card_tag_text_${tag}`).remove();
                document.getElementById(`card_tag_remove_${tag}`).remove();
                state.currentCardTags.delete(tag);
                state.currentCardTagsHaveChanged = true;
            }

            function insertTabsIfNecessary(event) {
                if (event.key == "Tab") {
                    document.execCommand("insertHTML", false, "&nbsp;&nbsp;&nbsp;&nbsp;");
                    event.preventDefault();
                }
            }

            function handleCardUrgencyChange() {
                handleInputChange("card_urgency");
                if (state.reviewModeToggle) {
                    saveCard(false);
                    fetchNextCard();
                } else {
                    elementRefs.cardUrgencyNumberElement.innerText = elementRefs.cardUrgencyElement.value;
                }
            }

            function saveCard(renderSavedCard=true) {
                let payload = {};
                state.changedItems.forEach((element_id) => {
                    payload[element_id.split("card_")[1]] = document.getElementById(element_id).value;
                });
                if (state.currentCardID) {
                    payload._id = state.currentCardID;
                }

                if (state.changedItems.has("card_description")) {
                    payload.description = String.raw`${elementRefs.cardDescriptionElement.innerText}`;
                }

                payload.createdById = state.currentUserID;
                if (state.currentCardTagsHaveChanged) {
                    payload.tags = Array.from(state.currentCardTags).join(" ");
                }
                payload.isPublic = state.card_is_public_toggle;
                
                // If the tags or urgency has been changed, update the sidebar to reflect current info
                let rerenderSideBar = state.currentCardTagsHaveChanged || state.changedItems.has("card_urgency");

                cardsManager
                    .saveCard(payload, state.cardPostURL)
                    .then((savedCard) => {
                        console.log(savedCard);
                        if (renderSavedCard) renderCard(savedCard);
                        if (rerenderSideBar) {
                            savedCard.tags.split(" ").forEach(tag => {
                                if (tag !== "") {
                                    tag = tag.trim();
                                    if (!state.tagsAndIDs.hasOwnProperty(tag)) {
                                        state.tagsAndIDs[tag] = {};
                                    }
                                    state.tagsAndIDs[tag][savedCard._id] = {urgency: savedCard.urgency};
                                }
                            });
                            initializeSideBar();
                        }
                    })

            }
            
            function moveCardToTrash() {
                // Remove the card from the ones that get displayed
                var removed_card_id = cardsManager.removeCard(state.currentCardID);
                if (removed_card_id === state.currentCardID) {
                    // Move on to the next card in the PQ
                    if (cardsManager.numNext() > 0) {
                        fetchNextCard();
                    } else if (cardsManager.numPrev() > 0) {
                        fetchPreviousCard();
                    } else {
                        displayNewCard();
                    }

                    // Request the server to trash the card
                    AppUtilities.sendHTTPRequest("POST", "/trash-card", 
                        {
                            _id: removed_card_id, createdById: state.currentUserID
                        })
                        .then((trash_confirmation) => {
                            CardTemplateUtilities.displayPopUp(trash_confirmation.message, 10000);
                        })
                        .catch((err) => { console.error(err); });

                }
            }

            function restoreFromTrash(card_to_restore_id, card_to_restore_urgency) {
                AppUtilities.sendHTTPRequest(
                    "POST", "/restore-from-trash", 
                    {
                        createdById: state.currentUserID,
                        _id: card_to_restore_id,
                    })
                    .then((response) => {
                        if (response.message === card_to_restore_id) {
                            cardsManager.insertCard(card_to_restore_id, card_to_restore_urgency);
                            fetchPreviousCard();
                        }
                    })
                    .catch((err) => { console.error(err); });
            }
            
            /*
             * @description Provide search results for queries typed in the 
             * search bar. If the space bar is pressed, only ask for 7 results,
             * otherwise ask for all matching documents.
             */
            function searchCards(event) {
                window.removeEventListener("keydown", arrowKeysForNavigation);
                var keyPress = event.key;
                if (keyPress === " " || keyPress === "Enter") {
                    var query_string = elementRefs.cardSearchInputElement.value.trim();
                    if (keyPress === " ") limit = 7;
                    else limit = Infinity;
                    if (query_string !== "") {
                        sendHTTPRequest(
                            "POST", "/search-cards",
                            {
                                query_string: query_string,
                                limit: limit
                            },
                            (response) => {
                                if (response.success) {
                                    var search_results = response.message;
                                    if (keyPress === " ") {
                                        var search_results_html = "";
                                        for (let i = 0; i < search_results.length; i++) {
                                            search_results_html += `
                                                <ul onclick='reInitializeCards([${JSON.stringify(search_results[i])}]);'>
                                                ${search_results[i].title}</ul>`;
                                        }
                                        elementRefs.cardSearchResultsElement.innerHTML = search_results_html;
                                    } else {
                                        elementRefs.cardSearchResultsElement.innerHTML = "";
                                        reInitializeCards(search_results);
                                    }    
                                }
                            }
                        );
                    }
                }
            }
            
            /*
             * @description Reset the queue of cards to be viewed. 
             * @param {Array} abbreviated_cards Array of JSON objects having the
             * keys `_id`, and `urgency`
             */  
            function reInitializeCards(abbreviated_cards) {
                elementRefs.cardSearchResultsElement.innerHTML = "";
                cardsManager.initializeFromMinicards(abbreviated_cards)
                    .then(() => { return cardsManager.next(); })
                    .then((card) => { renderCard(card); })
                    .catch((err) => { console.error(err); });
            }

        </script>

    </body>

</html>