<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>
        <p>Yay! Here is something...</p>
        <% include ../partials/latex_checker.ejs %>
        
    </body>
</html>