<!DOCTYPE html>
<html>

    <head>
        <title>Study Buddy Reset Password</title>
        <% include ../partials/header.ejs %>
        <script src="/static/AppUtilities.js"></script>
    </head>

    <body>

        <% include ../partials/navbar.ejs %>

            <div id="main_div">

                <div class="w3-padding-large w3-center" style="margin: 5% 25% 25% 25%">

                    <label for="email"> Type your new password: </label>
                    <input class="w3-input" type="password" name="password_1" id="password_1" minlength="8" required/>

                    <br />
                    <br />

                    <label for="username"> Re-type your new password: </label>
                    <input class="w3-input" type="password" name="password_2" id="password_2" minlength="8" required/>

                    <br />
                    <br />

                    <button class="w3-button w3-center w3-green" type="submit" onclick="resetPassword()">Reset Password</button>

                </div>

            </div>


            <% include ../partials/footer.ejs %>

            <script type="text/javascript">
                /**
                 * @description Request a password reset.
                 */
                function passwordResetRequest(formID) {
                    sendForm(formID, '/reset-password', (results) => {
                        if (results.success) {
                            document.getElementById(formID).innerHTML = `
                                <p>Please check your email for a password reset link.</p>

                                <br />
                                <br />
                                
                                <button class="w3-button w3-center w3-blue" 
                                    onclick="window.location='/'">
                                    ... go back to LogIn</button>`;
                        } else {
                            console.log(results.message);
                        }
                    });
                    return false;
                }
            </script>

    </body>

</html>