<!DOCTYPE html>
<html>
    <head>
        <title>Study Buddy Login</title>
        <% include ../partials/header.ejs %>
        <script src="/static/AppUtilities.js"></script>
        <script src="/static/d3.js"></script>
        <script src="/static/d3.layout.cloud.js"></script>
        <script src="/static/d3.wordcloud.js"></script>
    </head>

    <body onload="populateWordCloud();">

        <% include ../partials/navbar.ejs %>

        <div id="main_div">

            <div id="word_cloud_container" 
                class="w3-container w3-padding-large w3-twothird w3-left">
                <div id="word_cloud" class="svg-container"></div>
            </div>
            
            <div class="w3-container w3-third w3-padding-large w3-right">

                <form class="w3-padding-large w3-center tab_content" id="login_form" method="post">
                
                    <label for="username"> Username or Email Address: </label>
                    <input class="w3-input" type="text" name="username_or_email" required/>
                
                    <br />
                    <br />
                
                    <label for="password"> Password: </label>
                    <input class="w3-input" type="password" name="password" 
                        minlength="8" required/>
                
                    <br />
                    <br />
                
                    <button class="w3-button w3-center w3-green" type="submit" 
                        onclick="return logInUser('login_form', '/login')">Log In</button>
                    
                    <br />
                    <br />

                    <button class="w3-button w3-center w3-blue" 
                        onclick="return displayForm('signup_form')">
                        ... or Sign Up for a New Account</button>

                    <p class="link" onclick="return displayForm('password_reset_form')" style="text-decoration: underline">
                        Forgot password?
                    </p>

                </form>

                <form class="w3-padding-large w3-center hidden tab_content" id="signup_form" method="post">

                    <label for="email">Email Address: </label>
                    <input class="w3-input" type="email" name="email" 
                        required/>

                    <br />
                    <br />
                    
                    <label for="username"> Choose an alphanumeric username: </label>
                    <input class="w3-input" type="text" name="username" 
                        pattern="[_\-A-Za-z0-9]+" required/>
                    
                    <br />
                    <br />
                    
                    <label for="password"> Choose a password: </label>
                    <input class="w3-input" type="password" name="password" 
                        minlength="8" required/>
                    
                    <br />
                    <br />
                    
                    <button class="w3-button w3-center w3-green" type="submit" 
                        onclick="return signUpUser('signup_form', '/register-user')">Sign Up</button>
                    
                    <br />
                    <br />

                    <button class="w3-button w3-center w3-blue" 
                        onclick="return displayForm('login_form')">
                        ... or go back to LogIn</button>
                </form>

                <form class="w3-padding-large w3-center hidden tab_content" id="password_reset_form" method="post">
                    <label for="email">Enter the email address associated with the account: </label>
                    <input class="w3-input" type="email" name="email" required/>
                    
                    <br />
                    <br />

                    <button class="w3-button w3-center w3-green" type="submit" 
                        onclick="return passwordResetRequest('password_reset_form')">
                        Send Password Reset Link
                    </button>
                    
                    <br />
                    <br />
                    
                    <button class="w3-button w3-center w3-blue" 
                        onclick="return displayForm('login_form')">
                        ... or go back to LogIn</button>
                </form>

            </div>

        </div>
        
        
        <% include ../partials/footer.ejs %>

        <script type="text/javascript">

            /*
             * @description Toggle the form being displayed.
             * @param {string} form_id The ID of the form to be displayed.
             * 
             */
            function displayForm(form_id) {
                var elements = document.getElementsByClassName("tab_content");
                for (let i = 0; i < elements.length; i++) {
                    elements[i].style.display = "none";
                }
                document.getElementById(form_id).style.display = "block";
                return false;
            }

            /*
             * @description Log in the user.
             * @param {string} formID The ID of the form that has credentials
             * @param {string} url The URL at which the form will be processed
             */
            function logInUser(formID, url) {
                sendForm(formID, url, (results) => {
                    if (results.success) {
                        localStorage.setItem(
                            "session_info", JSON.stringify(results.message)
                        );
                        sendHTTPRequest(
                            "POST", "/read-metadata",
                            { userIDInApp: results.message.userIDInApp},
                            (metadata_response) => {
                                localStorage.setItem(
                                    "metadata", JSON.stringify(metadata_response.message)
                                );
                                window.location = "/home";
                            }
                        );
                    } else {
                        alert(results.message);
                    }
                });

                return false;
            }

            /*
            * @description Log in the user.
            * @param {string} formID The ID of the form that has credentials
            * @param {string} url The URL at which the form will be processed
            */
            function signUpUser(formID, url) {
                sendForm(formID, url, (results) => {
                    alert(results.message);
                });
                return false;
            }
            
            /**
             * @description Request a password reset.
             */ 
            function passwordResetRequest(formID) {
                sendForm(formID, '/reset-password', (results) => {
                    if (results.success) {
                        document.getElementById(formID).innerHTML = `
                        <p>${results.message}</p>

                        <br />
                        <br />
                        
                        <button class="w3-button w3-center w3-blue" 
                            onclick="return displayForm('login_form')">
                            ... go back to LogIn</button>`;
                    } else {
                        console.log(results.message);
                    }
                });
                return false;
            }

            /*
             * Set up the Word Cloud
             */
            function populateWordCloud() {
                var word_cloud_element = document.getElementById("word_cloud");
                var width = word_cloud_element.clientWidth;
                var height = 500;
                sendHTTPRequest("POST", "/tags", {createdById: 1}, (words) => {
                    d3.wordcloud()
                        .size([width, height])
                        .selector("#word_cloud")
                        .scale("log") // Options: sqrt, log, linear
                        .spiral("archimedean") // Options: archimedean, rectangular
                        .words(words)
                        .start();
                })   
            }
            
        </script>

    </body>
    
</html>